apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ metallb_ip_pool_name }}
  namespace: metallb-system
spec:
  addresses:
{% for a in metallb_addresses %}
  - {{ a }}
{% endfor %}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: {{ metallb_l2adv_name }}
  namespace: metallb-system
spec:
  ipAddressPools:
  - {{ metallb_ip_pool_name }}