apiVersion: v1
kind: Secret
metadata:
  name: {{ argocd_basic_auth_secret_name }}
  namespace: {{ argocd_namespace }}
type: Opaque
stringData:
  users: |
{% for line in argocd_basic_auth_users %}
    {{ line }}
{% endfor %}