- name: Test Traefik with a simple echo app
  hosts: k3s_servers[0]
  become: true
  vars:
    kubeconfig_path: /etc/rancher/k3s/k3s.yaml
    ns: whoami

  tasks:
    - name: Create namespace
      shell: sudo kubectl --kubeconfig {{ kubeconfig_path }} create ns {{ ns }} --dry-run=client -o yaml | sudo kubectl --kubeconfig {{ kubeconfig_path }} apply -f -
    - name: Deploy whoami + service + ingress
      copy:
        dest: /tmp/whoami.yaml
        content: |
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: whoami
            namespace: {{ ns }}
          spec:
            replicas: 1
            selector:
              matchLabels:
                app: whoami
            template:
              metadata:
                labels:
                  app: whoami
              spec:
                containers:
                  - name: whoami
                    image: traefik/whoami:v1.10.1
                    ports:
                      - containerPort: 80
          ---
          apiVersion: v1
          kind: Service
          metadata:
            name: whoami
            namespace: {{ ns }}
          spec:
            selector:
              app: whoami
            ports:
              - port: 80
                targetPort: 80
          ---
          apiVersion: networking.k8s.io/v1
          kind: Ingress
          metadata:
            name: whoami
            namespace: {{ ns }}
          spec:
            rules:
              - host: whoami.lan
                http:
                  paths:
                    - path: /
                      pathType: Prefix
                      backend:
                        service:
                          name: whoami
                          port:
                            number: 80
    - name: Apply manifests
      shell: sudo kubectl --kubeconfig {{ kubeconfig_path }} apply -f /tmp/whoami.yaml